<div class="controls-container">
    <button class="add-resource-button" (click)="navigateToAddResource()">Add New Resource</button>
    <select class="resource-type-select" (change)="filterResourcesByType($event)">
        <option value="">Svi resursi</option>
        <option value="predmet">Predmet</option>
        <option value="vestina">Veština</option>
        <option value="prostor">Prostor</option>
    </select>
</div>
<div class="resource-container">
    <div *ngFor="let resource of filteredResources" class="resource-card">
        <button *ngIf="userRole === 'admin' || isResourceOwner(resource)" class="edit-button" (click)="navigateToEditResource(resource.id)">Edit</button>
        <button *ngIf="userRole === 'admin' || isResourceOwner(resource)" class="delete-button" (click)="deleteResource(resource.id)">X</button>
        <h3>{{ resource.name }}</h3>
        <p>{{ resource.description }}</p>
        <p><strong>Type:</strong> {{ resource.type }}</p>
        <p><strong>Owner:</strong> {{ resource.user.username }}</p>
    </div>
</div>
