<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggler" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-menu" [class.show]="menuOpen">
      <a *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</a>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/register">Register</a>

      <a *ngIf="authService.isLoggedIn()" routerLink="/resources">Resources</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/requests">
        Requests
        <span *ngIf="unreadRequestCount > 0" class="badge">{{ unreadRequestCount }}</span>
      </a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/my-requests">My Requests</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/received-responses">Responses</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/responses">My Responses</a>
      <a *ngIf="authService.isLoggedIn() && userRole === 'admin'" routerLink="/accounts">Accounts</a>
      <a *ngIf="authService.isLoggedIn()" (click)="logout()">Log off</a>
      <span *ngIf="authService.isLoggedIn()">User: {{ authService.getUsername() }}</span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>