<div *ngIf="responses.length > 0; else noResponses">
    <div *ngFor="let response of responses" class="response-card">
        <p><strong>My message:</strong> {{ response.request.message }}</p>
        <p><strong>Requested At:</strong> {{ response.request.createdAt | date:'dd.MM.yyyy' }}</p>
        <p><strong>Response:</strong> {{ response.message }}</p>
        <p><strong>Responsed At:</strong> {{ response.createdAt | date:'dd.MM.yyyy' }}</p>

        <span><strong>Rate user: </strong></span>
        <div class="rating">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <span class="star" 
                      (click)="rateUser(response.user.id, star)"
                      (mouseenter)="setHoverRating(star)"
                      (mouseleave)="resetHoverRating()"
                      [ngClass]="{
                          'filled-star': star <= response.rating || star <= hoverRating,
                          'hover-star': star <= hoverRating
                      }">
                    &#9733;
                </span>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #noResponses>
    <p>No responses found.</p>
</ng-template>